<div class="row">
  <div class="col s12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          {{#if article}}
          <p>{{article.body}}</p>
          {{else}}
          <p>aucun article a été trouver</p>
          {{/if }}
        </div>
        <div class="card-action">
          <em style="font-size:0.8em">Créer par {{nickname}}</em>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if user}}
<h4 class="col s12 m6 offset-m3">Poster un commentaire</h4>
<form method="POST" class="col s12">
  <div class="row">
    <div class="input-field col s12 m6 offset-m3">
      <textarea id="body" class="materialize-textarea" name="body"></textarea>
      <label for="body">Corps</label>
    </div>
    <div class="input-field col s12 m6 offset-m3">
      <p>
        <label>
          <input type="checkbox" name="publish" />
          <span>publier</span>
        </label>
      </p>
    </div>
  </div>
  <div class="input-field col s12 m6 offset-m3">
    <button class="btn waves-effect waves-light" type="submit">Créer
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
</div>
{{else}}
{{/if}}

<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="images/yuna.jpg" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>
  </div>
</div>