<h5>Bonjour {{user.nickname}}</h5>
<div class="col s8 offset-s2 m8 offset-m2">
  {{#each articles}}
  <div class="card horizontal">
    <div>
      <a class="btn-floating halfway-fab waves-effect waves-right blue" style="right: 0; left:-45px; top:10px;"><i
          class="material-icons">create</i></a>
      <a class="btn-floating halfway-fab waves-effect waves-left red" style="right: 0; left:-45px; bottom:10px;"><i
          class="material-icons">delete</i></a>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{body}}</p>
      </div>
      <div class="card-action">
        <ul>
          <li><a href="/article/{{id}}">Voir l'article</a></li>
          {{#each article_has_categories}}
          <span class="badge new badge red" data-badge-caption="">{{category.name}}</span>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  {{/each}}
</div>