<div class="row">
  <h2 class="col s12 m6 offset-m3">Comerage</h2>
  <form class="col s12" method="POST">
    <div class="row">
      <div class="input-field col s12 m6 offset-m3">
        <input id="email" type="email" class="validate" name="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <input id="password" type="password" class="validate" name="password">
        <label for="password">Mot de passe</label>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <a href="/signin">Créer un compte</a><br>
      </div>
      <div class="input-field col s12 m6 offset-m3">
        <button class="btn waves-effect waves-light" type="submit">Créer
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>

</div>